<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teacher Info</title>
</head>
<body>
<h2>我的信息</h2>
<div th:object="${user}">
    <p>用户名: <span th:text="${user.username}"></span></p>
    <p>密码: <span th:text="${user.password}"></span></p>
    <p>类型: <span th:text="${user.type}"></span></p>
</div>
<div th:object="${user.teacher}">
    <!-- <p>姓名: <span th:text="*{name}"></span></p> -->
    <!-- <p>学院: <span th:text="*{academy}"></span></p>
    <p>职称: <span th:text="*{title}"></span></p> -->
</div>
<h2>我的课程资源</h2>
<table>
    <tr>
        <th>课程</th>
        <th>资源名称</th>
        <th>资源链接</th>
    </tr>
    <tr th:each="resource : ${courseResources}">
        <td th:text="${resource.course.title}"></td>
        <td th:text="${resource.resourceName}"></td>
        <td><a th:href="${resource.resourceUrl}" th:text="${resource.resourceUrl}"></a></td>
    </tr>
</table>
<a th:href="@{/teacher/courses}">查看课程</a>
<a th:href="@{/QA}">AI问答界面</a>
<a th:href="@{/logout}">注销</a>
</body>
</html>
