<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
    <title>添加课程和课程分类</title>

</head>
<body>
    <h2>所有课程</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>分类</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td th:text="${course.id}"></td>
            <td><a th:text="${course.title}" th:href="@{/teacher/courseResource/{id}(id=${course.id})}"></a></td>
            <td th:text="${course.category.name}"></td>
        </tr>
    </table>
    <h2>查询课程</h2>
    <form action="/courses/search" method="get">
        <label for="keyword">课程 ID/名称/分类:</label><br>
        <input type="text" id="keyword" name="keyword"><br>
        <input type="submit" value="查询">
    </form>
    <!-- 查询结果显示区域 -->
    <div th:if="${searchedCourses != null}">
        <h2>查询结果</h2>
        <div th:each="course : ${searchedCourses}">
            <p th:text="'ID:' + ${course.id}"></p>
            <p th:text="'名称:' + ${course.title}"></p>
            <p th:text="'描述:' + ${course.description}"></p>
            <p th:text="'分类:' + ${course.category.name}"></p>
            <!-- <p><a th:href="@{/courses/update/{id}(id=${course.id})}" >修改信息</a></p> -->
        </div>
    </div>
</body>
</html>
