<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>所有用户</title>
</head>
<body>
    <h1>所有用户</h1>
    <table>
        <tr>
            <th>用户名</th>
            <th>密码</th>
            <th>类型</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.type}"></td>
            <td>
                <a th:href="@{/user/delete/{id}(id=${user.id})}" onclick="return confirm('确定要删除这个用户吗？')">删除用户</a>
                <a th:href="@{/user/resetPassword/{id}(id=${user.id})}" onclick="return confirm('确定要重置这个用户的密码吗？')">重置密码</a>
            </td>
        </tr>
    </table>
</body>
</html>
